@mixin font-face($name, $path, $exts: eot woff2 woff ttf svg otf) {
    $src: null;
    $path: '../fonts/' + $path;

    $extmods: (
        eot: "?",
        svg: "#"
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        src: $src;
    }
}
